<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
    <!--&lt;!&ndash;-->
    <!--允许JDBC支持自动生成主键，需要驱动兼容。-->
    <!--如果设置为true则这个设置强制使用自动生成主键，尽管一些驱动不能兼容但仍可正常工作（比如 Derby）。-->
    <!--&ndash;&gt;-->
    <!--<setting name="useGeneratedKeys" value="true" />-->
    <!--&lt;!&ndash; 允许使用列标签代替列名 &ndash;&gt;-->
    <!--<setting name="useColumnLabel" value="true"/>-->
    <!--&lt;!&ndash;开启驼峰命名规则自动转换&ndash;&gt;-->
    <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--</settings>-->

    <!-- 进行Mybatis的相应的环境的属性定义 -->
    <settings>    <!-- 在本项目之中开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!--输出sql日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

</configuration>